.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
        position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

/*.row > *{
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}*/
.col-1 {
    max-width: 8.33333%;
    flex: 0 0 8.33333%;
}
.col-2 {
    max-width: 16.66666%;
    flex: 0 0 16.66666%;
}
.col-3 {
    max-width: 25%;
    flex: 0 0 25%;
}
.col-4 {
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
}
.col-5 {
    max-width: 41.66666%;
    flex: 0 0 41.66666%;
}
.col-6 {
    max-width: 50%;
    flex: 0 0 50%;
}
.col-7 {
    max-width: 58.33333%;
    flex: 0 0 58.33333%;
}
.col-8 {
    max-width: 66.66666%;
    flex: 0 0 66.66666%;
}
.col-9 {
    max-width: 75%;
    flex: 0 0 75%;
}
.col-10 {
    max-width: 83.33333%;
    flex: 0 0 83.33333%;
}
.col-11 {
    max-width: 91.66666%;
    flex: 0 0 91.66666%;
}
.col-12 {
    max-width: 100%;
    flex: 0 0 100%;
}


.logo .img img {
    height: 40px;
}

.head {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.head {
    max-width: 1140px;
}

.top_head {
    height: 50px;
    border-bottom: 1px solid #daeaff;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    justify-content: space-between;
}

.dop_info {
    grid-column: 3;
    display: flex;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.top_head .logo {
    display: flex;
    padding-left: 15px;
}

.top_head .logo .img {
    height: 39px;
    margin: 5px 0px;
}

.top_head .logo .head_comp {    
    font-weight: 600;
    margin-left: 20px;
    font-size: 21px;
    line-height: 50px;
    color: #0064dd;
}

body {font-family: system-ui, sans-serif;margin: 0px;}

.dop_info div {
    margin-right: 25px;
    font-size: 15px;
}

.dop_info div:nth-last-child(1) {
    margin-right: 0px;
}

.bottom_head nav a:hover li {
    color: #0050b2;
}

.soc {
    display: flex;
    justify-content: start;
}

.vk {
    background: #3888e8;
    color: white;
    padding: 12px 10px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

.bottom_head {
    height: 50px;
    border-bottom: 1px solid #daeaff;
    display: flex;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
}

.bottom_head nav {
    display: flex;
    justify-content: start;
}

.bottom_head nav li {
    display: inline-block;
    line-height: 50px;
    padding: 0px 15px;
    text-transform: uppercase;
    color: #2b2b2b;
    font-family: system-ui, sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.bottom_head nav a:hover {
    border-bottom: 2px solid #0064dd;
}

.soc .soc_url {
    display: inline-block;
    line-height: 50px;
    padding: 0px 15px;
    text-transform: uppercase;
    color: #2b2b2b;
    font-family: system-ui, sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.soc .soc_url a {
    color: #2b2b2b;
    text-decoration: none;
}

.soc .soc_url a:hover {
    color: #0064dd;
}

.all_el_def {
    display: grid;
    grid-template-columns: calc(50% - 15px) 50%;
    grid-gap: 15px;
}

section#all_def {
    background: #f2f2f2;
    padding-top: 80px;
    padding-bottom: 80px;
}

.all_el_def .el_def {
    background: white;
    padding: 15px;
    display: grid;
    grid-template-columns: min-content auto;
    box-shadow: 0px 2px 10px -5px #6464648c;
}

.all_el_def .el_def .image {
    position: relative;
    grid-column: 1;
    width: 55px;
    height: 60px;
    background-size: cover;
    background-position: center;
}

.all_el_def .el_def .image img {
    width: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.all_el_def .el_def h2 {
    color: #0064df;
    font-weight: 400;
    grid-column: 2;
    margin: 0px;
    font-size: 21px;
}

.all_el_def .el_def p {
    grid-column: 2;
    margin: 15px 0;
}

.all_el_def .el_def .price {
    grid-column: 2;
    font-weight: 500;
}

.time{
    color: white;
    background: #0064dd;
    padding: 0px 10px;
}

.all_el_def .el_def:nth-child(1) .image{
    background-image: url("../image/1.png");
}
.all_el_def .el_def:nth-child(2) .image{
    background-image: url("../image/2.png");
}
.all_el_def .el_def:nth-child(3) .image{
    background-image: url("../image/3.png");
}
.all_el_def .el_def:nth-child(4) .image{
    background-image: url("../image/4.png");
}
.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}

.main_form {
    background: white;
    padding: 15px;
    box-shadow: 0px 2px 10px -5px #6464648c;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input[type="text"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #bebebe;
    border-radius: 5px;
}

.form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background: #0064dd;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background: #0a5ec5;
}

.main_form h2 {
    color: #0064df;
    font-weight: 400;
    grid-column: 2;
    margin: 10px 0px 30px 0px;
    font-size: 21px;
    font-weight: 500;
}

.dop_info div a {
    color: #000000;
    text-decoration: none;
}

.dop_info div a:hover {
    text-decoration: underline;
}

section#advantages {
    background: #f2f2f2;
    padding-bottom: 50px;
}

h2.head_section {
    margin: 0px;
    padding: 15px 0px 0px 0px;
    font-family: system-ui, sans-serif;
    color: #000000;
    font-size: 29px;
    font-weight: 600;
    position: relative;
    margin-bottom: 30px;
}

h2.head_section:after {content: "";background: #0064dd;width: 80px;height: 3px;position: absolute;left: 0px;bottom: 0px;border-radius: 30px;}

.advantages_block .title {
    color: #000000;
    font-size: 20px;
    margin-bottom: 10px;
}

.advantages_block .desc {
    color: #2b2b2b;
}

section#contacts {
    background: #0064dd;
    padding: 15px 0px 30px 0px;
}

h2.head_section_white {
    margin: 0px;
    padding: 15px 0px 0px 0px;
    font-family: system-ui, sans-serif;
    color: #ffffff;
    font-size: 29px;
    font-weight: 600;
    position: relative;
    margin-bottom: 30px;
}

h2.head_section_white:before {
    content: "";
    background: #4c9dff;
    width: 80px;
    height: 3px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-radius: 30px;
}

.all_cont_info {
    display: flex;
}

.cont_block .title {
    color: #d7d7d7;
    font-size: 15px;
    font-weight: 400;
}

.cont_block {
    margin-right: 30px;
}

.cont_block:nth-last-child(1) {
    margin-right: 0px;
}

.cont_block .cont {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.cont_block .cont a {
    color: white;
    text-decoration: none;
}

.cont_block .cont a:hover {
    text-decoration: underline;
}

.all_cont_info_soc {
    display: flex;
    justify-content: space-between;
}

.soc_block .soc_but {
    background: white;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
}

.soc_block a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.soc_block {
    width: 30%;
    text-align: center;
    transition: 0.3s;
}

.soc_block:hover {
    transform: translateY(-5px);
}

/* СЛАЙДЕР */

.wrapper{
    width: 100%;
    height: 300px;
    position: relative;
}

.slider{
    height: inherit;
    width: inherit;
    position: relative;
}

.slides{
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: 0;
}

.controls{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding: 40px 0px;
}

.controls label {
    background: #99c7ff;
    width: 24%;
    height: 8px;
    display: inline-block;
    border-radius: 50px;
    cursor: pointer;
}

.controls label:hover,
#slide1:checked ~ .controls label:nth-child(1),
#slide2:checked ~ .controls label:nth-child(2),
#slide3:checked ~ .controls label:nth-child(3),
#slide4:checked ~ .controls label:nth-child(4) {
    background: #56a2ff;
}

#slide1:checked ~ .slider > .slider1,
#slide2:checked ~ .slider > .slider2,
#slide3:checked ~ .slider > .slider3,
#slide4:checked ~ .slider > .slider4{
    opacity: 1;
}

.wrapper input{
    display: none;
}

.sec_all_price {height: inherit;width: inherit;display: grid;grid-template-columns: 32.4% 32.4% 32.4%;grid-gap: 15px;}

.sec_all_price .price .name {
    font-weight: 600;
}

.sec_all_price .price .money {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.sec_all_price .price {
    background: white;
    padding: 15px;
    box-shadow: 0px 1px 5px 0px #e2e2e2;
}

section#all_price {
    padding: 30px 0px 0px 0px;
}

.sec_all_price .price .money .type_money .m_price {
    font-size: 16px;
    color: #0064dd;
}
.sec_all_price .price .money .type_money .title {
    font-size: 13px;
}
/* СЛАЙДЕР */

.tel {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background: #0064ddd4;
    border-radius: 4px;
    text-align: center;
    padding: 10px 15px;
    color: white;
}

.tel:hover {
    background: #0064dd;
}

@media (min-width: 1200px) {

}
@media (max-width: 1199px){
.top_head {
    height: auto;
}

.all_el_def {
    grid-template-columns: 100%;
}

.bottom_head {
    height: auto;
    overflow-x: auto;
    white-space: nowrap;
}

.dop_info {
        line-height: initial;
    display: block;
    margin: auto;
    padding: 0px;
    width: 100%;
}

.dop_info div {
    padding: 10px 5px;
    margin: 0px;
    text-align: center;
}
.slider {
    height: max-content;
}

.slides {
    display: none;
}

#slide1:checked ~ .slider > .slider1, #slide2:checked ~ .slider > .slider2, #slide3:checked ~ .slider > .slider3, #slide4:checked ~ .slider > .slider4 {
    position: relative;
    display: block;
}
.main_form {
    margin-top: 30px;
}

.advantages_block {
    margin-top: 30px;
}

.all_cont_info_soc {
    margin-top: 30px;
}

.sec_all_price {
    grid-template-columns: 100%;
}
.top_head .logo {
    margin: auto;
    padding: 0px;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media (max-width: 767px) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
}

@media (max-width: 480px) {

}
